body{
    margin: 0;
    
}
main{
    position: center;
    text-align: center;
}
/*nav bar*/
ul{
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
    align-items: end;
    width: 100%;
    flex-wrap: wrap;
    
}
a{
    text-decoration: none;
    margin: 0%;
    width: 80px;
}
ul a:hover{
    background-color: rgba(96, 86, 86, 0.5);

}
/*nav bar*/
footer{
    margin-top: 70%;
    display: flex; 
    justify-content: center;
    
}
p{
    margin-top: 5%;
    text-align: center;
}
.ans{
    margin: 10%;
}
.ans div{
    gap: 10px;
    width: 200px;
}
.ans div:hover{
    background-color: rgb(0, 98, 255);

}
#imagen{
    display: flex;
    
}
img{
    margin-left:auto;
    margin-right: auto;
}
.rotated-image {
    transition-duration: 6s;
    transform: rotate(360deg);
  }
.scale{
  width: 300px;
  height: 300px;
  background: red;
  
}
.scaleTran{
    width: 200px;
    background: red;
    transition:  5s;
    
  }
