body{
    margin: 0;
}
main { 
   
}
/*nav bar*/
ul{
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
    align-items: end;
    width: 100%;
    flex-wrap: wrap;
    
}
a{
    text-decoration: none;
    margin: 0%;
    width: 80px;
}
ul a:hover{
    background-color: rgba(96, 86, 86, 0.5);

}
/*nav bar*/
/*canvas*/
canvas{
    height: auto;
    width: 60%;
    border:1px solid #ee0707;
}