body{
  margin: 0%;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 124px ;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.home {
  background-color: #04AA6D;
  color: rgb(195, 33, 33);
}
.titulo-me{
  text-align:center;
}
.yo{
  font-size: 50px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:rgb(241, 2, 2)
}
.home{
  position: relative;
  top: 0;
  left: 0;
  transform: none;

}
.facts{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
h1 .footer {
  text-align: center;
}
.container{
  display:inline-flex;
  width: 100%; 
  height: auto;
}
.container img{
  width: 457px;
  margin-right: 7px;
}
.parrafo{
  font-size: 40px;
  margin-top: 5px;
  margin-left: 70px;
}
.main{
  position: relative;
  text-align: center;
}
img{   
  margin: 0px;   
  width: 100%;
  padding: 0;
  height: auto;

}
.foot{
  height: 200px;
  width: 100%;
  display: inline-flex; 
  background-color: #333;
}
.pie{
  margin-left: 60px;
  width: 50px;
  height: 40px;
  border-radius: 10px;
}
.foot2{
  overflow: hidden;
  background-color: #04AA6D;
  width:100%;
}