body{
    margin:0;
}
/*navigation*/
ul {
    display:flex;
    background-color: rgba(0, 0, 255, 0.8);
    height: auto;
    width:100%;
    gap:10%;
}

a {
    margin:10px;
    font-size: 25px;
    
    
}
